:root {
  --brand-font-sans-serif: "Proxima Nova", "Helvetica", sans-serif;
  --color-electric-800: #3b2fc9;
  --color-electric-700: #4c48ef;
  --color-pigeon-900: #303744;
  --color-pigeon-800: #404857;
  --color-pigeon-700: #616a7d;
  --color-pigeon-600: #8b93a4;
  --color-pigeon-500: #b4bccc;
  --color-pigeon-400: #cad0dc;
  --color-pigeon-300: #d7dee8;
  --color-pigeon-200: #e8edf4;
  --color-pigeon-100: #f6f8fc;
  --color-pigeon-primary: var(--color-pigeon-800);
  --color-text: var(--color-pigeon-primary);
  --text-font: sans-serif;
  --size-base: 15px;
  --size-h1: 1.618em;
  --size-h2: 1.5em;
  --size-h3: 1.25em;
  --size-p: 1em;
  --size-small: 0.875em;
  --size-mini: 0.75em;
}

body {
  background-color: #000;
  color: var(--color-text);
  font-family: sans-serif;
  font-size: var(--size-base);
  line-height: 1.5;
  margin: 0;
}

/* actual iframe */
.flatfile_iFrameContainer {
  /* padding: 100px !important;
  border-radius: 0 !important; */
}
/* parent of iframe */
div:has(.flatfile_iFrameContainer) {
  /* background: red; */
}
/* close button */
.flatfile-close-button {
  display: block;
  /* margin: 50px !important; */
}

.flatfile-close-button svg {
  /* fill: red !important; */
}
