:root {
  --color-electric-800: #4c48ef; /*primary button color on hover*/
  --color-electric-700: #4c48ef; /*primary button color*/

  --color-pigeon-600: #8b93a4; /*text color*/

  --color-pigeon-300: #d7dee8; /*secondary button color on hover*/
  --color-pigeon-200: #d7dee8; /*secondary button color*/

  --color-text: var(--color-pigeon-800); /*text title color*/
  --size-base: 15px;
}

body {
  background-color: #000;
  color: var(--color-text);
  font-family: sans-serif;
  font-size: var(--size-base);
  line-height: 1.5;
  margin: 0;
}

/* actual iframe */
.flatfile_iFrameContainer {
  /* padding: 100px !important;
  border-radius: 0 !important; */
}
/* parent of iframe */
div:has(.flatfile_iFrameContainer) {
  /* background: red; */
}
/* close button */
.flatfile-close-button {
  display: block;
  /* margin: 50px !important; */
}

.flatfile-close-button svg {
  /* fill: red !important; */
}
